html {
  height: 100%;
  font-family: 'Mako', sans-serif;
}

body {
  background-color: rgb(33, 62, 105);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  max-width: 80%;
}

.card header {
  align-self: flex-end;
  text-transform: uppercase;
}

.card p {
  font-weight: bolder;
  font-size: 1.5rem;
  word-wrap: none;
}

.scoreCard {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.button {
  display: block;
  width: 15rem;
  padding: 3px;
  background-color: rgb(223, 223, 223);
  margin: 0.75rem;
  padding: 0.7rem;
  border-radius: 5px;
  color: black;
  font-size: 1.3rem;
  border: none;
  transition: padding 0.3s;
  font-family: 'Mako', sans-serif;
}

button:focus,
button:hover {
  background-color: rgb(38, 100, 32);
  color: white;
  outline: none;
}
